{% extends 'admin_base.html' %} {% load static%} {% block content %}
<style>
    .card {
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
    }
</style>


<div class="container">
    <label for="" style="font-weight: 700;"> <span class="text-danger">ADMIN</span> Dashboard</label>
    <div class="row mt-3">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body" style="height:30vh">
                  
                    <h1 class="card-title mb-0 mt-3 text-center" style="font-weight: 600;">Welcome <span class="text-danger">{{admin}}</span></h1>
                  
                </div>
            </div>
        </div>


        <div class="col-md-6 grid-margin ">
            <a style="text-decoration:none">
                <div class="card" style="height:40vh">


                    <div class="card-body">

                        <center>

                            <p class="card-title mb-0 mt-5 pt-3 text-info font-weight-bold"> <a href="{% url 'student_details' %}">Total Users</a> </p>

                            <p class="card-title mb-0 mt-3 text-primary">{{students}}+</p>

                        </center>
                    </div>


                </div>

            </a>
        </div>

        <div class="col-md-6 grid-margin">
            <a class="text-decoration-none">
                <div class="card" style="height:40vh">


                    <div class="card-body">
                        <center>
                            <p class="card-title mb-0 mt-5 pt-3 text-info font-weight-bold"> <a href="{% url 'addmarks' %}"> Add Marks</a></p>

                            <p class="card-title mb-0 mt-3 text-primary"></p>
                        </center>
                    </div>
                </div>
            </a>
        </div>

    </div>



</div>
</div>


{% endblock %}