{% extends 'base.html' %}
{% block body %}



<section class="vh-90 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              {% for message in messages %}
              <div class="alert text-center alert-danger ">
                {{message}}
              </div>
              {% endfor %}
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <p class="text-white-50 mb-5">Please enter your username and password!</p>
               
              <form action="" method="post" enctype="">
                {% csrf_token %}
                <div class="form-outline form-white mb-4">
                  <input type="text" name="username" id="user" name="username" required class="form-control form-control-lg" />
                  <label class="form-label"   for="typeEmailX">Username</label>
                </div>
  
                <div class="form-outline form-white mb-4">
                  <input type="password" name="password" id="pass" required  class="form-control form-control-lg" />
                  <label class="form-label"   for="typePasswordX">Password</label>
                </div>
  
                <!-- <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> -->
  
                <button class="btn btn-outline-light btn-lg px-5" id="btn1" typ="submit">Login</button>
  
              </form>
                <div class="d-flex justify-content-center text-center mt-4 pt-1">
                  <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                  <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                  <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                </div>
  
              </div>
  
              <div>
                <p class="mb-0">Don't have an account? <a href="{% url 'studentregistration' %}" class="text-white-50 fw-bold">Sign Up</a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>

    <style>
        .gradient-custom {
           
            background: #b195d0;
            
            
            background: -webkit-linear-gradient(to right, rgb(219, 65, 68), rgb(237, 58, 109));
            
            
            background: linear-gradient(to right, rgb(209, 186, 234), rgb(77, 129, 220))
            }
    </style>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    
    $(document).ready(function(){
      $('.alert').hide(4000);
    })

  </script>

{% endblock %}